#root {
    background: linear-gradient(180deg, rgba(4,13,18,1) 0%, rgba(14,18,20,1) 60%, rgba(17,18,19,1) 100%, rgba(128,128,128,1) 100%);
    color: aliceblue;
}

.main-home {
    height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.main-home h1 {
    margin: 0;
}

.create-room-form {
    display: flex;
    gap: .8rem;
}

.create-room-input {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 50px;
    padding: 1rem;
}

.create-room-input:focus {
    outline: none;
}

.room-list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px;
    min-width: 500px;
}

.room-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.list-item-name {
    font-weight: 600;
    font-size: 1.5rem;
    max-width: 500px;
    text-align: left;
}

.list-item-buttons {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.join-button {
    background-color: transparent;
    color: white;
    border: 1px solid rgb(55, 158, 158);
    transition: all .2s linear;
}

.join-button:hover {
    box-shadow: 0px 0px 20px -3px rgba(24,61,61,0.7);
-webkit-box-shadow: 0px 0px 20px -3px rgba(24,61,61,0.7);
-moz-box-shadow: 0px 0px 20px -3px rgba(24,61,61,0.7);
    border: 1px solid rgb(24, 61, 61);
    color: rgb(55, 158, 158);
}

.close-button {
    background-color: transparent;
    color: white;
    border: 1px solid rgb(255, 96, 96);
    transition: all .2s linear;
}

.close-button:hover {
    box-shadow: 0px 0px 20px -3px rgba(133, 45, 45, 0.7);
-webkit-box-shadow: 0px 0px 20px -3px rgba(133, 45, 45, 0.7);
-moz-box-shadow: 0px 0px 20px -3px rgba(133, 45, 45, 0.7);
    border: 1px solid rgba(133, 45, 45, 0.7);
    color: rgb(255, 96, 96);
}

.new-room-button {
    background-color: transparent;
    color: white;
    border: 1px solid rgb(185, 136, 44);
    transition: all .2s linear;
}

.new-room-button:hover {
    box-shadow: 0px 0px 20px -3px rgb(185, 136, 44);
    -webkit-box-shadow: 0px 0px 20px -3px rgb(185, 136, 44);
    -moz-box-shadow: 0px 0px 20px -3px rgb(185, 136, 44);
    border: 1px solid rgb(185, 136, 44);
    color: rgb(185, 136, 44);
}