.main-my_games-page {
    height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.room-list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px;
    min-width: 500px;
}

.room-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.list-item-name {
    font-weight: 600;
    font-size: 1.5rem;
    max-width: 500px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-item-buttons {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.join-button {
    background-color: transparent;
    color: white;
    border: 1px solid rgb(55, 158, 158);
    transition: all .2s linear;
}

.join-button:hover {
    box-shadow: 0px 0px 20px -3px rgba(24,61,61,0.7);
-webkit-box-shadow: 0px 0px 20px -3px rgba(24,61,61,0.7);
-moz-box-shadow: 0px 0px 20px -3px rgba(24,61,61,0.7);
    border: 1px solid rgb(24, 61, 61);
    color: rgb(55, 158, 158);
}

.close-button {
    background-color: transparent;
    color: white;
    border: 1px solid rgb(255, 96, 96);
    transition: all .2s linear;
}

.close-button:hover {
    box-shadow: 0px 0px 20px -3px rgba(133, 45, 45, 0.7);
-webkit-box-shadow: 0px 0px 20px -3px rgba(133, 45, 45, 0.7);
-moz-box-shadow: 0px 0px 20px -3px rgba(133, 45, 45, 0.7);
    border: 1px solid rgba(133, 45, 45, 0.7);
    color: rgb(255, 96, 96);
}

.view-button {
    background-color: transparent;
    color: white;
    border: 1px solid rgb(35, 140, 189);
    transition: all .2s linear;
}

.view-button:hover {
    box-shadow: 0px 0px 20px -3px rgba(26, 109, 148, 0.7);
-webkit-box-shadow: 0px 0px 20px -3px rgba(26, 109, 148, 0.7);
-moz-box-shadow: 0px 0px 20px -3px rgba(26, 109, 148, 0.7);
    border: 1px solid rgba(26, 109, 148, 0.7);
    color: rgba(33, 91, 124, 0.7);
}

.room-list-wrapper button {
    min-width: 100px;
    max-width: 100px;
}

